<div class="director">
	<%= image_tag @director.img_url, alt: @director.name, :class => 'director-img' %></br>
	<%= content_tag :p, @director.name, :class => "lead director-link" %>
	<strong><mark><%= @films.length %> Films</mark></strong>
</div>
</br>
</br>
<% @films.each do |film| %>
	<div class="director director-list">
		<%= image_tag film.poster_img_url, alt: film.title, :class => 'director-img' %></br>
		<%= content_tag :p, film.title, :class => "lead director-link" %>
	</div>
<% end %>